<?xml version="1.0"?>

<model>
  <name>gamecity_full</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>John Vial</name>
    <email>john@soundelve.com</email>
  </author>

  <description>
    A model of gamecity cafe, Perth Australia.
  </description>

</model>
