<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="maciv2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import maciv2 urdf file -->
    <xacro:include filename="$(find maciv2)/robot_description/maciv2.urdf.xacro" />

    <!-- Import control_xacro >
    <xacro:include filename="maciv2.ros2_control.xacro" />


    <xacro:maciv2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/-->

</robot>
